{% extends 'base.html.twig' %}

{% block title %}Conditions Générales d'Utilisation
{% endblock %}

{% block body %}
	<main>
	<h1 class="d-flex justify-content-center mt-2">Politique de confidentialité</h1>
	<hr class="w-75 mx-auto mt-0 mb-3">
		<div class="mnb rounded p-5">
			<h1>Politique de confidentialité de The District</h1>
<p>Chez The District, nous nous engageons à protéger votre vie privée et vos données personnelles. Cette politique de confidentialité décrit comment nous collectons, utilisons et partageons vos informations lorsque vous utilisez notre site Web ou nos services de restauration.</p>

<h1>Collecte d'informations</h1>
<p>Nous collectons certaines informations lorsque vous utilisez notre site Web ou nos services de restauration. Celles-ci peuvent inclure votre nom, votre adresse e-mail, votre adresse postale, votre numéro de téléphone, vos préférences alimentaires et d'autres informations pertinentes pour vous offrir le meilleur service possible.</p>

<h1>Utilisation des informations</h1>
<p>Nous utilisons les informations collectées pour personnaliser votre expérience de commande, vous envoyer des promotions et des offres spéciales, vous contacter en cas de problème de commande, améliorer notre service et pour toute autre finalité décrite dans cette politique de confidentialité.</p>

<h1>Partage des informations</h1>
<p>Nous ne vendrons jamais vos informations à des tiers. Nous ne partageons vos informations qu'avec des tiers qui nous aident à fournir nos services, tels que les prestataires de paiement et de livraison. Nous pouvons également partager vos informations avec les autorités compétentes si cela est nécessaire pour se conformer aux lois et réglementations applicables.</p>

<h1>Sécurité des informations</h1>
<p>Nous prenons des mesures pour protéger vos informations contre tout accès, utilisation ou divulgation non autorisé. Nous utilisons des techniques de sécurité avancées, telles que le cryptage SSL, pour protéger vos informations personnelles.</p>

<h1>Cookies et technologies similaires</h1>
<p>Nous utilisons des cookies et d'autres technologies similaires pour améliorer votre expérience de commande et personnaliser le contenu de notre site Web. Vous pouvez choisir de désactiver les cookies dans les paramètres de votre navigateur, mais cela peut affecter certaines fonctionnalités de notre site Web.</p>

<h1>Modifications de la politique de confidentialité</h1>
<p>Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment. Les modifications prendront effet immédiatement dès leur publication sur notre site Web. Nous vous encourageons à consulter régulièrement cette politique de confidentialité pour être informé des éventuelles modifications.</p>

<h1>Contactez-nous</h1>
<p>Si vous avez des questions ou des préoccupations concernant cette politique de confidentialité ou notre utilisation de vos informations personnelles, n'hésitez pas à nous contacter à l'adresse suivante : [maxime@thedistrict.fr], Téléphone : [06 45 78 36 10].</p>

<p>Cette politique de confidentialité a été mise à jour.</p>
<p>1980. Tous droits réservés the district</p>
		</div>
	</main>
{% endblock %}