{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block body %}
</main>
<h1 class="d-flex justify-content-center mt-2">Mentions Légales</h1>
<hr class="w-75 mx-auto mt-0 mb-3">
<div class="mnb rounded p-5">
<p>Mentions légales de The District</p>

<p>Le présent site est édité par The District, une société de restauration enregistrée auprès du Registre du Commerce et des Sociétés sous le numéro [11485299863].
</p>

<p>Siège social : [The District PDG]</p>
<p>Téléphone : [06 45 78 36 10]</p>
<p>Adresse e-mail : [maxime@thedistrict.fr]</p>

<p>Directeur de la publication : [Breu Maxime PDG de The District]</p>
<p>Hébergement du site : [The District Chinatown 2 rue de Bangkok]</p>

<h1>Propriété intellectuelle</h1>
<p>Le contenu de ce site, y compris mais sans s'y limiter, les textes, les images, les graphismes, les logos, les vidéos, les sons, les noms commerciaux et les marques de commerce, sont la propriété exclusive de The District ou de ses fournisseurs de contenu, et sont protégés par les lois françaises et internationales sur le droit d'auteur et la propriété intellectuelle. Toute utilisation non autorisée de ce contenu constitue une violation de ces lois et peut entraîner des poursuites judiciaires.
</p>

<h1>Responsabilité</h1>
<p>The District s'efforce de fournir des informations exactes et à jour sur ce site, mais ne peut garantir l'exactitude, l'exhaustivité ou l'adéquation de ces informations à un usage particulier. En conséquence, The District décline toute responsabilité pour les erreurs ou omissions dans les informations fournies sur ce site. The District se réserve également le droit de modifier ou de supprimer tout contenu de ce site à tout moment et sans préavis.
</p>

<h1>Liens vers des sites tiers</h1>
<p>Ce site peut contenir des liens vers des sites tiers. Ces liens sont fournis uniquement pour votre commodité, et l'inclusion de tout lien ne signifie pas que The District approuve ou recommande le contenu de ces sites tiers. The District n'a aucun contrôle sur le contenu de ces sites tiers et décline toute responsabilité pour les informations qu'ils contiennent.
</p>

<h1>Loi applicable</h1>
<p>Les présentes mentions légales sont régies par la loi française. Tout litige découlant de ces mentions légales sera soumis à la compétence exclusive des tribunaux français.
</p>

<p>Nous vous remercions de votre visite sur notre site Web. Si vous avez des questions ou des préoccupations concernant ces mentions légales, n'hésitez pas à nous contacter à l'adresse suivante : [Maxime@thedistrict.fr].</p>
</div>
<main>
{% endblock %}